Section: misc
Priority: optional
Maintainer: Luca Deri <deri@ntop.org>
Version: 1.0
Package: pfring-drivers-zc
Architecture: all
Depends: e1000e-zc, igb-zc, ixgbe-zc
Description: Viirtual package for ZC drivers in DKMS format (http://www.ntop.org/pf_ring/).
