Makefile
config.h
config.log
config.status
hugepages_lib.o
libpfring.a
libpfring.so
pfring.o
pfring_dna.o
pfring_dna_bouncer.o
pfring_dna_cluster.o
pfring_dna_sal.o
pfring_dna_utils.o
pfring_dna_vas.o
pfring_e1000e_dna.o
pfring_hw_filtering.o
pfring_igb_dna.o
pfring_ixgbe_dna.o
pfring_libzero.o
pfring_mod.o
pfring_mod_dna.o
pfring_mod_dna_cluster.o
pfring_mod_stack.o
pfring_mod_usring.o
pfring_mod_virtual.o
pfring_utils.o
pfring_zero.h
silicom_ts.o
