# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# automake
Makefile.in

# autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1


# Kernel stuffs
*.cmd
*.ko.unsigned
*.mod.c
Module.symvers
modules.order
.tmp_versions

# Generated Makefiles
/userland/c++/Makefile
/userland/examples/Makefile
/userland/examples_libzero/Makefile
/userland/examples_zc/Makefile
/userland/lib/Makefile
/userland/libpcap-1.1.1-ring/Makefile
/userland/libpcap-1.6.2-ring/Makefile
/userland/snort/pfring-daq-module-zc/Makefile
/userland/snort/pfring-daq-module/Makefile
/userland/tcpdump-4.1.1/Makefile
/userland/lib/pfring_zero.h
config.h
config.log
config.status

# libpcap generated
/userland/libpcap-1.6.2-ring/bpf_filter.c
/userland/libpcap-1.6.2-ring/grammar.c
/userland/libpcap-1.6.2-ring/net
/userland/libpcap-1.6.2-ring/pcap-config
/userland/libpcap-1.6.2-ring/pcap-filter.manmisc
/userland/libpcap-1.6.2-ring/pcap-linktype.manmisc
/userland/libpcap-1.6.2-ring/pcap-savefile.manfile
/userland/libpcap-1.6.2-ring/pcap-tstamp.manmisc
/userland/libpcap-1.6.2-ring/pcap.3pcap
/userland/libpcap-1.6.2-ring/pcap_compile.3pcap
/userland/libpcap-1.6.2-ring/pcap_datalink.3pcap
/userland/libpcap-1.6.2-ring/pcap_dump_open.3pcap
/userland/libpcap-1.6.2-ring/pcap_get_tstamp_precision.3pcap
/userland/libpcap-1.6.2-ring/pcap_list_datalinks.3pcap
/userland/libpcap-1.6.2-ring/pcap_list_tstamp_types.3pcap
/userland/libpcap-1.6.2-ring/pcap_open_dead.3pcap
/userland/libpcap-1.6.2-ring/pcap_open_offline.3pcap
/userland/libpcap-1.6.2-ring/pcap_set_tstamp_precision.3pcap
/userland/libpcap-1.6.2-ring/pcap_set_tstamp_type.3pcap
/userland/libpcap-1.6.2-ring/scanner.c
/userland/libpcap-1.6.2-ring/scanner.h
/userland/libpcap-1.6.2-ring/tokdefs.h
/userland/libpcap-1.6.2-ring/version.c
/userland/libpcap-1.6.2-ring/version.h

# pfring-daq-module-zc generated
/userland/snort/pfring-daq-module-zc/.deps/
/userland/snort/pfring-daq-module-zc/.libs/
/userland/snort/pfring-daq-module-zc/aclocal.m4
/userland/snort/pfring-daq-module-zc/autom4te.cache/
/userland/snort/pfring-daq-module-zc/config.guess
/userland/snort/pfring-daq-module-zc/config.h.in
/userland/snort/pfring-daq-module-zc/config.h.in~
/userland/snort/pfring-daq-module-zc/config.sub
/userland/snort/pfring-daq-module-zc/configure
/userland/snort/pfring-daq-module-zc/depcomp
/userland/snort/pfring-daq-module-zc/install-sh
/userland/snort/pfring-daq-module-zc/libtool
/userland/snort/pfring-daq-module-zc/ltmain.sh
/userland/snort/pfring-daq-module-zc/m4/libtool.m4
/userland/snort/pfring-daq-module-zc/m4/ltoptions.m4
/userland/snort/pfring-daq-module-zc/m4/ltsugar.m4
/userland/snort/pfring-daq-module-zc/m4/ltversion.m4
/userland/snort/pfring-daq-module-zc/m4/lt~obsolete.m4
/userland/snort/pfring-daq-module-zc/missing
/userland/snort/pfring-daq-module-zc/stamp-h1

# pfring-daq-module generated
/userland/snort/pfring-daq-module/.deps/
/userland/snort/pfring-daq-module/.fuse_hidden0000074500000002
/userland/snort/pfring-daq-module/.libs/
/userland/snort/pfring-daq-module/aclocal.m4
/userland/snort/pfring-daq-module/autom4te.cache/
/userland/snort/pfring-daq-module/config.guess
/userland/snort/pfring-daq-module/config.h.in
/userland/snort/pfring-daq-module/config.h.in~
/userland/snort/pfring-daq-module/config.sub
/userland/snort/pfring-daq-module/configure
/userland/snort/pfring-daq-module/depcomp
/userland/snort/pfring-daq-module/install-sh
/userland/snort/pfring-daq-module/libtool
/userland/snort/pfring-daq-module/ltmain.sh
/userland/snort/pfring-daq-module/m4/libtool.m4
/userland/snort/pfring-daq-module/m4/ltoptions.m4
/userland/snort/pfring-daq-module/m4/ltsugar.m4
/userland/snort/pfring-daq-module/m4/ltversion.m4
/userland/snort/pfring-daq-module/m4/lt~obsolete.m4
/userland/snort/pfring-daq-module/missing
/userland/snort/pfring-daq-module/stamp-h1

# tcpdump
/userland/tcpdump-4.1.1/tcpdump
/userland/tcpdump-4.1.1/tcpdump.1
/userland/tcpdump-4.1.1/version.c

# Binaries
userland/c++/pf_test
userland/examples/alldevs
userland/examples/dummy_plugin_pfcount
userland/examples/pcap2nspcap
userland/examples/pcount
userland/examples/pfbounce
userland/examples/pfbridge
userland/examples/pfcount
userland/examples/pfcount_82599
userland/examples/pfcount_aggregator
userland/examples/pfcount_bundle
userland/examples/pfcount_dummy_plugin
userland/examples/pfcount_multichannel
userland/examples/pfdnacluster_mt_rss_frwd
userland/examples/pfdump
userland/examples/pffilter_test
userland/examples/pflatency
userland/examples/pfmap
userland/examples/pfsend
userland/examples/pfsystest
userland/examples/pfwrite
userland/examples/preflect
userland/examples_libzero/pfdnabounce
userland/examples_libzero/pfdnacluster_master
userland/examples_libzero/pfdnacluster_mt_rss_frwd
userland/examples_libzero/pfdnacluster_multithread
userland/examples_zc/zbalance
userland/examples_zc/zbalance_ipc
userland/examples_zc/zbounce
userland/examples_zc/zbounce_ipc
userland/examples_zc/zcount
userland/examples_zc/zcount_ipc
userland/examples_zc/zfanout_ipc
userland/examples_zc/zfifo
userland/examples_zc/zpipeline
userland/examples_zc/zpipeline_ipc
userland/examples_zc/zreplicator
userland/examples_zc/zsend

