Source: pfring
Section: free
Priority: optional
Maintainer: Luca Deri <deri@ntop.org>
Standards-Version: 5.1.2
Build-Depends: 
Build-Conflicts:

Package: pfring
Architecture: amd64
Depends: linux-image-server (= 3.0.0.12.14)
Description: PF_RING (http://www.ntop.org/pf_ring/)
