/pfring-daq-module/.deps/
/pfring-daq-module/.libs/
/pfring-daq-module/Makefile
/pfring-daq-module/Makefile.in
/pfring-daq-module/aclocal.m4
/pfring-daq-module/autom4te.cache/
/pfring-daq-module/config.guess
/pfring-daq-module/config.h
/pfring-daq-module/config.h.in
/pfring-daq-module/config.log
/pfring-daq-module/config.status
/pfring-daq-module/config.sub
/pfring-daq-module/configure
/pfring-daq-module/daq_pfring.la
/pfring-daq-module/daq_pfring_la-daq_pfring.lo
/pfring-daq-module/daq_pfring_la-daq_pfring.o
/pfring-daq-module/depcomp
/pfring-daq-module/install-sh
/pfring-daq-module/libtool
/pfring-daq-module/ltmain.sh
/pfring-daq-module/m4/libtool.m4
/pfring-daq-module/m4/ltoptions.m4
/pfring-daq-module/m4/ltsugar.m4
/pfring-daq-module/m4/ltversion.m4
/pfring-daq-module/m4/lt~obsolete.m4
/pfring-daq-module/missing
/pfring-daq-module/stamp-h1

